// variables and mixins
$cell-width: 40px;
@mixin sizeCells($num) {
    height: $num*$cell-width;
    width: $num*$cell-width;
}
@mixin spin($degrees) {
    transform: rotate(#{$degrees}deg);
    -ms-transform: rotate(#{$degrees}deg);
    -webkit-transform: rotate(#{$degrees}deg);
}
@mixin binarySpin {
    &.spin-2 {
        @include spin(0);
    }
    &.spin-3 {
        @include spin(90);
    }
}

// body
body {
    margin: 0;
}

// grid styles
.grid {
    width: inherit;
    height: inherit;
    .row {
        height: $cell-width;
    }
    .cell {
        float: left;
        @include sizeCells(1);
        &.full {
            background-color: black;
        }
    }
}


// matrix
#matrix {
    width: 10*$cell-width;
    height: 20*$cell-width;
    background-color: #CCCCCC;
    border: {
        color: #333333;
        style: solid;
        bottom: {
            width: 1px;
        }
        left: {
            width: 1px;
        }
        right: {
            width: 1px;
        }
        top: {
            width: 0;
        }
    }
}

.tetromino {
    // general tetromino styles
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: transparent;
    .grid {
        .cell {
            &.full {
                background-color: blue;
            }
        }
    }
    @include sizeCells(3);
    &.spin-1 {
        @include spin(90);
    }
    &.spin-2 {
        @include spin(180);
    }
    &.spin-3 {
        @include spin(270);
    }
    // shape-specific overrides
    &.T {
    }
    &.S {
        @include binarySpin;
    }
    &.Z {
        @include binarySpin;
    }
    &.L {
    }
    &.J {
    }
    &.O {
        @include sizeCells(2);
    }
    &.I {
        @include sizeCells(4);
        @include binarySpin;
    }
}



/* other crap */
#controls {
    clear: both;
}
